html, body,.App, #root{
    width: 100%;
    height: 100%;
    background-color: #f3f1f1;
}
h1,h2,h3,h4,h5{
    color: #20af8e;
}
.homeContainer{
    background-color: #f3f1f1;
    width: 100%;
    padding: 20px 0;
}
.sideBar{
    width: 25%;
    padding: 10px 20px 10px 40px;
    display: inline-block;
}
.postSection{
    width: 48%;
    padding: 10px 20px;
    display: inline-block;
    vertical-align: top;
}
.paperDiv{
    background-color: #fff;
    border-radius: 6px;
}
.btn{
    background-color: #20af8e;
    border: 0;
    padding: 10px 30px;
}
.btn:active, .btn:focus{
    border: 0;
    outline: 0
}
.disabledBtn{
    background-color: #c1bbbb;
    color: white;
}
.col-1{ width: 10%;}
.col-9{width: 90%;}
.row{ margin: 10px auto }
.label{ font-weight: 600;}
.greenText{ color: #20af8e}
.grayText{ color: #888888}
@media (max-width: 900px){
    .postSection{
        width: 60%;
    }
}
@media (max-width: 670px){
    .sideBar, .postSection{
        display: block;
        max-width: 100% !important;
        width: auto;
        padding: 15px;
    }
}